.products img {
  width: 200px;
  height: auto;
  border: 6px solid lightgray;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
/* how do i put an outline on the border? */

}
/* why is image size off by 50px? */


.products p {
  display: inline;
}

.products hr {
  display: block;
}

main {
  height: 750px;
}
