/*
TO FIX:

*Put character count in lower right corner of textarea.

*Fix spacing in footer

*Make header a color gradient




*/


body {
  margin: 0;
  background-color: #f1f0f5;
  font-family: arial;
}

nav {
  float: right;
  margin-right: 20px;
}

header h2 {
  display: inline;
  font-size: 2.2em;
  margin-left: 20px;
}

header a {
  text-decoration: none;
  color: white;
}

header {
  background: linear-gradient(rgb(48, 196, 133), rgb(7, 148, 88));
  height: 62px;
  padding-top: 18px;
}

button {
  color: white;
  background-color: #069456;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  box-shadow: 0 1px 1px 1px rgb(5, 119, 69);
}

.signupbutton {
  margin-right: 2px;
}

.tweetbutton {
  margin-left: 10px;
  margin-bottom: 14px;
  margin-top: 118px;
}

main {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 84%;
  margin-top: 46px;
  border-radius: 5px;
}

.contentrow {


}
.bottomrow {
}

main hr{
  width: 93%;
  background-color: rgb(226, 226, 226);
  height: 2px;
  box-shadow: 0 1px 2px 0px white;
  border: none;
}

.contentrow img {
  width: 78px;
  height: 78px;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 20px;
  /*margin-bottom: 20px;*/
}

.toprow img {
  margin-top: 0px;
  margin-bottom: 30px;
}

.toprow {
  margin-top: 0;
  position: relative;
}

textarea {
  width: 84.2%;
  height: 54px;
  /*margin-bottom: 24px;*/
  margin-left: 10px;
  border-radius: 5px;
  color: #a9a9a9;
  padding-top: 14px;
  padding-left: 14px;
  font-size: 1.15em;
  position: absolute;
  margin-top: 38px;
}


.comment {
  display: inline-block;
  font-size: 1.6em;
  width: 70%;
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
}

p {
  display: inline-block;
  color: #069456;
  font-size: 1.4em;
  font-weight: 800;
  margin-left: 10px;
  margin-top: 86px;

}

.likecount {
  color: #cccccc;
  font-size: 1.2em;
  font-weight: 100;

}

footer {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer span {
  flex: 2;
  color: #b4b4b4;
  font-size: 1.2em;
}

.terms {
  flex: 2;
}

.privacy {
  flex: 2;
}

.maxchars {
position: absolute;
  right: 45px;
  bottom: 76px;
  font-weight: 600;
}
